@keyframes slider{

  	0%
  	{
  		background-image:url("b1.jpg") ;
  		background-size: 900px;
  	}
  	25%{
  		background-image:url("b2.jpg") ;
  		background-size: 900px;
  	}
  	50%
  	{
  		background-image:url("nature4.jpg") ;
  		background-size: 900px;
  	}
  	75%
  	{
  		background-image:url("nature5.jpg") ;
  		background-size: 900px;
  	}
  	100%
  	{
  		background-image:url("nature6.jpg") ;
  		background-size: 900px;
  	}
}
